
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="evo-blog-nav">
    <div class="container">
        <div class="nav-blog">

        </div>
    </div>
</div>
<div id="page">

    <main id="main" class="row-content c-box_root main-content">


        <div class="container-extra box-news">
            <h1 class="c-title_module" style="font-size: 20px; line-height: 50px; text-align: center;">ABOUT US </h1>
            <h2 class="c-title_module hide">ABOUT US</h2>
            <hr>
            <div class="c-content_detail">
                <div class="btgrid container">
                    <div class="row row-1">
                        <div class="col col-md-6">
                            <div class="content">
                                <h1 style="text-align: center;"><strong>Essentials Clothing</strong></h1>
                                <p style="text-align: center;">&nbsp;</p>
                                <p style="text-align: center;">FASHIONALITY  không hẳn&nbsp;là thời trang.&nbsp;</p>
                                <p style="text-align: center;">&nbsp;</p>
                                <p style="text-align: center;">Chúng tôi là những thứ thiết yếu nhất trong tủ quần áo của bạn và một lối sống giản dị nhưng đầy nổi bật.</p>
                                <p style="text-align: center;">&nbsp;</p>
                                <p style="text-align: center;">Cuộc sống hiện đại và bận rộn này&nbsp;bạn&nbsp;sẽ có rất nhiều sự lựa chọn, với tiêu chí&nbsp;"Have less, do more."&nbsp; chúng tôi muốn&nbsp;đơn giản hoá cuộc sống&nbsp;đó, để bạn có thêm thời gian dành cho bản thân.</p>
                                <p style="text-align: center;">&nbsp;</p>
                                <p style="text-align: center;">&nbsp;Bạn&nbsp;không còn&nbsp;phải mất&nbsp;nhiều thời gian cho việc&nbsp;đứng trước tủ đồ của mình và&nbsp;không&nbsp;biết nên mặc gì.</p>
                                <p style="text-align: center;">&nbsp;</p>
                                <p style="text-align: center;">
                                    Hãy để&nbsp;chúng tôi sẽ giúp bạn việc đó.<br />
                                    Mong muốn khách hàng có&nbsp;được cho mình một&nbsp;tủ đồ với những món đồ cần thiết cùng&nbsp;với&nbsp;chất lượng và&nbsp;mức&nbsp;giá&nbsp;hợp lý, luôn là tiêu chí mà FASHIONALITY  hướng tới.
                                </p>
                                <p style="text-align: center;">&nbsp;</p>
                            </div>
                        </div>

                        <div class="col col-md-6">
                            <div class="content">
                                <p><img alt="" src=@Url.Content("~/Content/image/about2.jpeg") style="width: 100%;"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="c-content_detail">
                    <div class="btgrid container">
                        <div class="row row-1">
                            <div class="col col-md-6">
                                <div class="content">
                                    <p><img alt="" src=@Url.Content("~/Content/image/about1.jpeg") style="width: 100%;"></p>
                                </div>

                            </div>

                            <div class="col col-md-6">
                                <div class="content">
                                    <h1 style="text-align: center;"><strong>Essentials Clothing</strong></h1>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">Thời gian mua sắm&nbsp;giảm&nbsp;đi&nbsp;nhưng bạn sẽ nhận được&nbsp;chất lượng và trải&nbsp;nghiệm&nbsp;tốt hơn vì chúng tôi luôn đầu tư vào những thứ thực tế góp phần vào chất lượng của sản phẩm cũng như trong việc cung cấp dịch vụ.</p>
                                    <p style="text-align: center;">&nbsp;</p>
                                    <p style="text-align: center;">
                                        Bỏ qua việc sản xuất sản phẩm theo từng bộ sưu tập hay từng mùa, chúng tôi tập trung xây dựng một "tủ quần áo vĩnh viễn" cho các khách hàng -&nbsp;Quần áo đơn giản thông minh cho mọi trường hợp và bạn sẽ không&nbsp;bị "make over" hoặc&nbsp;xuề xoà&nbsp;là những tiêu chí hàng đầu mà chúng tôi hướng tới.<br />
                                        <br />
                                        &nbsp;
                                    </p>
                                    <p style="text-align: center;">FASHIONALITY  cam đoan với bạn rằng:</p>
                                    <p style="text-align: center;">Khi đã lựa chọn chúng tôi thì các bạn có thể&nbsp;yên tâm về vẻ ngoài của mình sẽ luôn gọn gàng, hoàn hảo mọi lúc mọi nơi.</p>
                                </div>

                            </div>
                        </div>
                    </div>





                    <hr>
                    <div class="container">
                        <h1 style="text-align: center;"><span style="font-family:Tahoma,Geneva,sans-serif;"><strong>"Simplify to Amplify"</strong></span></h1>
                        <p><img alt="" src=@Url.Content("~/Content/image/about.jpeg") style="width: 1321px; height: 400px; margin-bottom:50px;"></p>

                        <p>Chúng tôi có 2 dòng sản phẩm riêng biệt. Dòng sản phẩm đầu tiên tập trung vào giới trẻ vị thành niên, với phong cách ăn mặc giản dị và dễ dàng với áo phông, quần nỉ, quần short, mũ cap... Dòng sản phẩm tiếp theo với những thiết kế đặc biệt cao cấp hơn cho những bạn trẻ đã đồng hành cùng thương hiệu từ khi còn trẻ, tìm đến FASHIONALITY  với nhu cầu về những sản phẩm chất lượng cao, mang phong cách chiết trung, có thể mặc ban ngày hay buổi tối, đi làm, đi học hay đi chơi.</p>
                    </div>



                    <style type="text/css">
                        .about-us {
                            margin-left: 120px;
                            margin-right: 120px;
                            margin-top: 50px;
                            margin-bottom: 50px;
                        }

                        .about-us-50 {
                            width: 50%;
                            margin: 0 auto;
                        }
                    </style>
                </div>
                <!--    -->
            </div>

    </main>
















</div>

