
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: rgb(255, 255, 255);
    }

    a {
        color: #e767c7;
    }

    * {
        box-sizing: border-box;
    }

    .register {
        width: 500px;
        padding: 16px;
        margin: 0 auto;
        background-color: #ffffff;
    }

    input[type=text], input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

    hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
    }

    .submit {
        background-color: #4b4848;
        color: white;
        padding: 15px 18px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

        .submit:hover {
            opacity: 1;
        }

    .login {
        background-color: #ffffff;
        text-align: center;
    }

    h1 {
        text-align: center;
        font-family: Fantasy;
    }

    h2 {
        text-align: center;
        font-family: Courier;
    }

    p {
        text-align: center;
        font-family: courier;
    }
</style>
<body>

    <script src="~/Content/js/kiemtra.js"></script>


    <form action="#" method="POST" onsubmit="return validate()">
        <div class="register">
            <h1>FASHIONALITY STORE</h1>
            <h2>ĐĂNG NHẬP</h2>
            <p> Vui lòng nhập thông tin để đăng nhập tài khoản</p>
            <hr>

            <label for="username"><b>Tên đăng nhập</b></label>
            <input type="text" placeholder="Họ và tên" name="username" id="username">
            <label for="password"><b>Mật khẩu</b></label>
            <input type="password" placeholder="******" name="password" id="password">
            <hr>

            <button type="submit" class="submit">Đăng Nhập</button>
        </div>
        <div class="register login">
            <p>Bạn chưa có tài khoản ? <a href=@Url.Action("Dangky","Home")>Đăng Ký</a>.</p>
        </div>
    </form>

</body>

