
@{
    ViewBag.Title = "Sale";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    div.gallery {
        border: 1px solid #ccc;
    }

        div.gallery:hover {
            border: 1px solid #777;
        }

        div.gallery img {
            width: 98%;
            height: 450px;
        }

    div.desc {
        padding: 15px;
        text-align: center;
        color: red;
    }

    * {
        box-sizing: border-box;
    }

    .responsive {
        padding: 0 6px;
        float: left;
        width: 24.99999%;
    }



    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }
</style>
<body>
    <div class="c-box_products">
        <div class="container-extra">
            <h1 class="c-title_block">
                Sale
            </h1>
        </div>
    </div>
    <div class="c-box_sort">

        Chưa có sản phẩm giảm giá!

    </div>
</body>
